@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 193 20% 86%;
    --foreground: 224 71.4% 4.1%;
    --card: 193 20% 96%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 193 20% 96%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 191 35% 44%;
    --primary-foreground: 210 20% 98%;
    --secondary: 193 20% 92%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 193 20% 92%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 112 33% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 193 20% 76%;
    --input: 193 20% 76%;
    --ring: 191 35% 44%;
    --chart-1: 191 35% 44%;
    --chart-2: 112 33% 52%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 220 13% 10%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 191 35% 54%;
    --sidebar-primary-foreground: 222.2 47.4% 11.2%;
    --sidebar-accent: 220 13% 20%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 220 13% 20%;
    --sidebar-ring: 191 35% 54%;
  }
  .dark {
    --background: 220 13% 10%;
    --foreground: 210 20% 98%;
    --card: 220 13% 15%;
    --card-foreground: 210 20% 98%;
    --popover: 220 13% 10%;
    --popover-foreground: 210 20% 98%;
    --primary: 191 35% 54%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 220 13% 20%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 13% 20%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 112 33% 62%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 220 13% 20%;
    --input: 220 13% 20%;
    --ring: 191 35% 54%;
    --sidebar-background: 220 13% 10%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 191 35% 54%;
    --sidebar-primary-foreground: 222.2 47.4% 11.2%;
    --sidebar-accent: 220 13% 20%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 220 13% 20%;
    --sidebar-ring: 191 35% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
